{% extends 'layout.html' %}
{% block content %}
{% load static %}
{% include 'partials/_navbar.html' %}
<section class="section-logout">
    <div class="container logout-container text-center" style="border: 1.5px solid #4ecca3; margin-top: 10rem;">
        <h2 class="heading-primary primary-color"><i class="far fa-check-circle mr-2" style="font-size: 3rem;"></i>
            Your password has been changed successfully
        </h2>
    </div>
</section>
{% include 'partials/_footer.html' %}
{% endblock %}