{% extends 'layout.html' %}
{% block content %}
{% load humanize %}
{% load static %}
{% include 'partials/_navbar.html' %}
<link rel="stylesheet" href="{% static 'app/css/input.css'%}">
<section class="section-accounts">
    <div class="container">
        <div class="col-lg-8 col-md-12 col-sm-12 offset-lg-2 auth-container">
            <h3 class="heading-primary text-center">Forget Password</h3>
            <span class="text-muted place text-center">
                Enter your email id, we will send you a link to reset your password
            </span>
            <hr class="bg-dark mt-3">
            {% include 'partials/_alerts.html' %}
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="form-group mt-5 text-center">
                    <button class="button-primary btn-block" type="submit">Send Reset Link</button>
                </div>
            </form> 
        </div>
    </div>
</section>
{% include 'partials/_footer.html' %}
{% endblock %}