{% extends 'layout.html' %}
{% block content %}
{% load static %}
{% include 'partials/_navbar.html' %}
<section class="section-logout">
    <div class="container logout-container" style="border: 1.5px solid #4ecca3; margin-top: 10rem;">
        <p class="primary-color" style="font-size: 2rem;"><i class="fas fa-exclamation-triangle"></i>
            We've emailed you instructions for setting your password, if an account exists with the email you entered.
            You should receive them shortly.
        </p>
        <p class="text-muted" style="font-size: 2rem;">
            If you don't receive an email, please make sure you've entered the address you registered with,
            and check your spam folder.
        </p>
    </div>
</section>
{% include 'partials/_footer.html' %}
{% endblock %}