{% extends 'layout.html' %}
{% block content %}
{% load humanize %}
{% load static %}
{% include 'partials/_navbar.html' %}
<link rel="stylesheet" href="{% static 'app/css/input.css'%}">
<section class="section-accounts">
    <div class="container">
        <div class="col-lg-8 col-md-12 col-sm-12 offset-lg-2 auth-container">
            <h1 class="heading-primary text-center">Create account</h1>
            <span class="text-muted place text-center">
                Fill this form to create an account with us.
            </span>
            <hr class="bg-dark mt-3">
            {% include 'partials/_alerts.html' %}
            <form action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group mt-4">
                            <label for="first_name">First name</label>
                            <input name="first_name" placeholder="Please enter your first name" required
                                autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mt-4">
                            <label for="last_name">Last name</label>
                            <input name="last_name" placeholder="Please enter your last name" required
                                autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="form-group mt-4">
                    <label for="username">username</label>
                    <input name="username" placeholder="Please enter your username" required autocomplete="off">
                </div>
                <div class="form-group mt-4">
                    <label for="email">Email</label>
                    <input type="email" name="email" placeholder="Please enter your email" required autocomplete="off">
                </div>
                <div class="form-group mt-4">
                    <label for="password">Password</label>
                    <input type="password" name="password" placeholder="Please enter your password" required
                        autocomplete="off">
                </div>
                <div class="form-group mt-4">
                    <label for="password2">Confirm Password</label>
                    <input type="password" name="password2" placeholder="Please enter your confirm password" required
                        autocomplete="off">
                </div>
                <div class="form-group mt-5">
                    <button class="button-primary btn-block" type="submit">Submit</button>
                </div>
                <div class="form-group mt-5 text-center">
                    <a href="{% url 'login' %}" class="auth-link">Have an account already ? Please login here</a>
                </div>
            </form>
        </div>
    </div>
</section>
{% include 'partials/_footer.html' %}
{% endblock%}